<header class="navbar-light fixed-top header-static bg-mode">
<!-- <header class="navbar-dark navbar-transparent header-static"> -->



	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg pb-4">
	
		<div class="container">
			<!-- Logo START -->
		
 			<a class="navbar-brand" href="index.html">
        <%= image_tag "logo.svg", class: "light-mode-item navbar-brand-item" %>
        <%= image_tag "logo.svg", class: "dark-mode-item navbar-brand-item" %>
			</a> 

			

			<a class="navbar-toggler icon-md btn btn-light p-0" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

			<!-- Main navbar START -->
			<div class="collapse navbar-collapse" id="navbarCollapse">

				<div class="nav mt-3 mt-lg-0 flex-nowrap align-items-center px-4 px-lg-0">
          <div class="nav-item w-100">
            <form class="rounded position-relative">
              <input class="form-control ps-5 bg-light" type="search" placeholder="Search..." aria-label="Search">
              <button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y" type="submit"><i class="bi bi-search fs-5"> </i></button>
            </form>
          </div>
        </div>

				<ul class="navbar-nav navbar-nav-scroll ms-auto">
					<!-- Nav item 1 Demos -->
					
					<!-- Nav item 2 Pages -->
						<li class="nav-item">
							<a class="nav-link" href="#" id="add-produce">Add Produce</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" id="browse-produce">Browse Produce</a>
						</li>

					
            <% if (!user_signed_in?) %>
							<li class="nav-item my-1">
								<div class="d-grid gap-4 my-2 d-md-block">
                  <%= link_to "Login", new_user_session_path, class: 'btn btn-sm btn-outline-primary' %>
                  <%= link_to "Register", new_user_registration_path, class: 'btn btn-outline-success btn-sm' %>
								</div>
							</li>
						<% end %> 

				</ul>
			</div>
			<!-- Main navbar END -->

			<!-- Nav right START -->
			<ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
        <!-- Notification dropdown END -->

          <% if (user_signed_in?) %>
					<li class="nav-item ms-2 dropdown">
						<a class="nav-link btn icon-md p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
							<%= image_tag avatar_url(current_user), class: "avatar-img rounded-2" %>
							
						</a>
						
						<ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="profileDropdown">
							<!-- Profile info -->
							<li class="px-3">
								<div class="d-flex align-items-center position-relative">
									<!-- Avatar -->
									<div class="avatar me-3">
										<%= image_tag avatar_url(current_user), class: "avatar-img rounded-circle" %>
									</div>
									<div>
										<a class="h6 stretched-link" href="#"><%= current_user.full_name %></a>
										<p class="small m-0">Web Developer</p>
									</div>
								</div>
							
								<%= link_to 'View Profile',	edit_user_registration_path, class: 'dropdown-item btn btn-primary-soft btn-sm my-2 text-center' %>
							
							</li>
							<!-- Links -->
							<li> 
								<a class="dropdown-item" href="docs/index.html" target="_blank">
									<i class="fa-fw bi bi-card-text me-2"></i>Dashboard
								</a> 
							</li>
							<li>
                <%= link_to '<i class="bi bi-gear fa-fw me-2"></i>Profile'.html_safe, 
										edit_user_registration_path,
										class: 'dropdown-item' %>
								
							</li>
							<li> 
								<a class="dropdown-item" href="https://support.webestica.com/" target="_blank">
									<i class="fa-fw bi bi-life-preserver me-2"></i>Help & Support
								</a> 
							</li>
							
							<li class="dropdown-divider"></li>
							<li>
							
							

								<%= link_to '<i class="bi bi-power fa-fw me-2"></i> Log Out'.html_safe, 
										destroy_user_session_path,data: {method: :delete},
										class: 'dropdown-item bg-danger-soft-hover' %>


							</li>
							<li> <hr class="dropdown-divider"></li>
						</ul>
					</li>
          <% end %>
			  <!-- Profile START -->
        
			</ul>
			<!-- Nav right END -->
		</div>
		
	</nav>
	<!-- Logo Nav END -->



	<nav class="navbar navbar-expand-lg bg-white justify-content-center top-minus-27 border-top border-1 border-dark">
		<div class="container">
			<div class="navbar-nav navbar-nav-scroll">
				<div class="d-flex my-1">

					<li class="nav-item">
						<%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sell Food</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<li> <a class="dropdown-item" href="albums.html">Add Food</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buy Food</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<li> <a class="dropdown-item" href="albums.html">Post Food Request</a></li>
							<li> <a class="dropdown-item" href="albums.html">Manage Food Requests</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Customer Requests</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<li> <a class="dropdown-item" href="albums.html">Active Requests</a></li>
							<li> <a class="dropdown-item" href="albums.html">Offers you sent</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orders</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<li> <a class="dropdown-item" href="albums.html">Selling Orders</a></li>
							<li> <a class="dropdown-item" href="albums.html">Buying Orders</a></li>
						</ul>
					</li>

					<li class="nav-item">
						<%= link_to "Earnings", dashboard_path, class: "nav-link" %>
						
					</li>

					<li class="nav-item">
						<%= link_to "Messages", dashboard_path, class: "nav-link" %>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<li> <a class="dropdown-item" href="albums.html">Payment Method</a></li>
							<li> <a class="dropdown-item" href="albums.html">Payout Method</a></li>
						</ul>
					</li>


					
				</div>
			</div>
		</div>
	</nav>
					
	

	
</header>
	
